











.btn-hover-change:hover {

    background-color: #98ff98; 
    color: #000000; 
}




.feed-item {
    margin-bottom: 15px;
    padding: 15px;
    background-color: #202024; 
    border: 1px solid #98ff98; 
    border-radius: 10px; 
    color: white;
    position: relative; 
}
.feed-item img.profile-img {
    width: 50px; 
    height: 50px; 
    border-radius: 50%; 
    position: absolute; 
    top: 10px; 
    left: 10px; 
}
.feed-item-content {
    padding-left: 70px; 
}

